{% extends 'base/base.html' %}
{% block content %}
    <main>

    <div class="container">

    <center><h1>Todo para tu mascota</h1></center>

    <div class="row">
      <div class="col s12 l6">
        <div class="card large">
          <div class="card-image">
            <img src={% static 'img/alimento1.jpg' %} width="300px" height="300px">
            <span class="card-title">Pio-Pa</span>
          </div>
          <div class="card-content">
            <p align="justify">Alimento completo, equilibrado y natural para cobayas o cuyos. Ideal como alimento principal, pues se trata de un alimento completo, equilibrado y natural.<br>Contiene una mezcla de pienso granulado con semillas y cereales.</p>
          </div>
          <div class="card-action">
            <a href="#"><i class="material-icons">add_shopping_cart</i>  Añadir al carrito</a>
          </div>
        </div>
      </div>

      <div class="col s12 l6">
        <div class="card large">
          <div class="card-image">
            <img src={% static 'img/alimento2.jpg' %} width="350px" height="350px">
            <span class="card-title">RedKite</span>
          </div>
          <div class="card-content">
            <p align="justify">Alimento especial para cuyos, adicionados con vitamina C. <br>• Fortificado con vitaminas y minerales. <br>• Evita la deficiencia de vitamina C. <br>• Fortalece el sistema inmune.</p>
          </div>
          <div class="card-action">
            <a href="#"><i class="material-icons">add_shopping_cart</i>  Añadir al carrito</a>
          </div>
        </div>
      </div>

      <div class="col s12 l6">
        <div class="card large">
          <div class="card-image">
            <img src={% static 'img/alimento3.jpg' %} width="300px" height="300px">
            <span class="card-title">Cunipic</span>
          </div>
          <div class="card-content">
            <p align="justify">Alimento completo enriquecido con vitaminas, minerales, especialmente elaborado para el mantenimiento de todo tipo de cobayas - cuyos).</p>
          </div>
          <div class="card-action">
            <a href="#"><i class="material-icons">add_shopping_cart</i>  Añadir al carrito</a>
          </div>
        </div>
      </div>

      <div class="col s12 l6">
        <div class="card large">
          <div class="card-image">
            <img src= {% static 'media/img/jaula.jpg' %} width="300px" height="300px">
            <span class="card-title">RedKit</span>
          </div>
          <div class="card-content">
            <p align="justify">Jaula para Hámster San Francisco. Ideal para la comodidad de tu roedor.</p>
          </div>
          <div class="card-action">
            <a href="#"><i class="material-icons">add_shopping_cart</i>  Añadir al carrito</a>
          </div>
        </div>
      </div>

      <div class="col s12 l6">
        <div class="card large">
          <div class="card-image">
            <img src= {% static 'media/img/bebedero1.jpg' %} width="300px" height="300px">
            <span class="card-title">HAGEN</span>
          </div>
          <div class="card-content">
            <p align="justify">Bebedero antiderrames para cuyo de 16 Oz.</p>
          </div>
          <div class="card-action">
            <a href="#"><i class="material-icons">add_shopping_cart</i>  Añadir al carrito</a>
          </div>
        </div>
      </div>

      <div class="col s12 l6">
        <div class="card large">
          <div class="card-image">
            <img src= {% static 'media/img/alimento_huron.jpg' %} width="300px" height="300px">
            <span class="card-title">Hartz</span>
          </div>
          <div class="card-content">
            <p align="justify">Alimento para Hurón. Ferret Diet, recomdendada por expertos.</p>
          </div>
          <div class="card-action">
            <a href="#"><i class="material-icons">add_shopping_cart</i>  Añadir al carrito</a>
          </div>
        </div>
      </div>

      <div class="col s12 l6">
        <div class="card large">
          <div class="card-image">
            <img src= {% static 'media/img/acondi_beta.jpg' %} width="300px" height="300px">
            <span class="card-title">Aquarium Pharma</span>
          </div>
          <div class="card-content">
            <p align="justify">Acondicionador completo para peces Betta.</p>
          </div>
          <div class="card-action">
            <a href="#"><i class="material-icons">add_shopping_cart</i>  Añadir al carrito</a>
          </div>
        </div>
      </div>

      <div class="col s12 l6">
        <div class="card large">
          <div class="card-image">
            <img src= {% static 'media/img/filtro_aquaclear.jpg' %} width="300px" height="300px">
            <span class="card-title">HAGEN</span>
          </div>
          <div class="card-content">
            <p align="justify">Filtro Aquaclear 300/100 Gal Max.</p>
          </div>
          <div class="card-action">
            <a href="#"><i class="material-icons">add_shopping_cart</i>  Añadir al carrito</a>
          </div>
        </div>
      </div>

      <div class="col s12 l6">
        <div class="card large">
          <div class="card-image">
            <img src= {% static 'media/img/medidior_ph.jpg' %} width="300px" height="300px">
            <span class="card-title">Marina</span>
          </div>
          <div class="card-content">
            <p align="justify">Medidor PH  espectro inferior (6.0).</p>
          </div>
          <div class="card-action">
            <a href="#"><i class="material-icons">add_shopping_cart</i>  Añadir al carrito</a>
          </div>
        </div>
      </div>

      <div class="col s12 l6">
        <div class="card large">
          <div class="card-image">
            <img src= {% static 'media/img/acon_aquaplus500.jpg' %} width="300px" height="300px">
            <span class="card-title">Marina</span>
          </div>
          <div class="card-content">
            <p align="justify">Acondicionador Aquaplus 500ml.</p>
          </div>
          <div class="card-action">
            <a href="#"><i class="material-icons">add_shopping_cart</i>  Añadir al carrito</a>
          </div>
        </div>
      </div>

      <div class="col s12 l6">
        <div class="card large">
          <div class="card-image">
            <img src= {% static 'media/img/bomba_10gal.jpg' %} width="300px" height="300px">
            <span class="card-title">HAGEN</span>
          </div>
          <div class="card-content">
            <p align="justify">Bomba Elite para 10 galones.</p>
          </div>
          <div class="card-action">
            <a href="#"><i class="material-icons">add_shopping_cart</i>  Añadir al carrito</a>
          </div>
        </div>
      </div>

      <div class="col s12 l6">
        <div class="card large">
          <div class="card-image">
            <img src= {% static 'media/img/plantas_50cm.jpg' %} width="300px" height="300px">
            <span class="card-title">Lomas</span>
          </div>
          <div class="card-content">
            <p align="justify">Plantas para acuario. 50 cm.</p>
          </div>
          <div class="card-action">
            <a href="#"><i class="material-icons">add_shopping_cart</i>  Añadir al carrito</a>
          </div>
        </div>
      </div>

      <div class="col s12 l6">
        <div class="card large">
          <div class="card-image">
            <img src= {% static 'media/img/cama_portatil.jpg' %} width="300px" height="300px">
            <span class="card-title">Petcetera</span>
          </div>
          <div class="card-content">
            <p align="justify">Cama portati para gato o cualquier mascota.</p>
          </div>
          <div class="card-action">
            <a href="#"><i class="material-icons">add_shopping_cart</i>  Añadir al carrito</a>
          </div>
        </div>
      </div>

      <div class="col s12 l6">
        <div class="card large">
          <div class="card-image">
            <img src= {% static 'media/img/juguete_gato_pelota.jpg' %} width="300px" height="300px">
            <span class="card-title">Hartz</span>
          </div>
          <div class="card-content">
            <p align="justify">Juguete para gato Bizzy Ball.</p>
          </div>
          <div class="card-action">
            <a href="#"><i class="material-icons">add_shopping_cart</i>  Añadir al carrito</a>
          </div>
        </div>
      </div>

       <div class="col s12 l6">
        <div class="card large">
          <div class="card-image">
            <img src= {% static 'media/img/jabon_pulgui.jpg' %} width="300px" height="300px">
            <span class="card-title">Pentastar</span>
          </div>
          <div class="card-content">
            <p align="justify">Jabón pulguicida 77g. Se puede aplicar en perros y gatos.</p>
          </div>
          <div class="card-action">
            <a href="#"><i class="material-icons">add_shopping_cart</i>  Añadir al carrito</a>
          </div>
        </div>
      </div>

       <div class="col s12 l6">
        <div class="card large">
          <div class="card-image">
            <img src= {% static 'media/img/atrayente_gatos.jpg' %} width="300px" height="300px">
            <span class="card-title">FourPaws</span>
          </div>
          <div class="card-content">
            <p align="justify">Atrayente para gatos en spray con Cat Nip.</p>
          </div>
          <div class="card-action">
            <a href="#"><i class="material-icons">add_shopping_cart</i>  Añadir al carrito</a>
          </div>
        </div>
      </div>

       <div class="col s12 l6">
        <div class="card large">
          <div class="card-image">
            <img src= {% static 'media/img/plato_portatil.jpg' %} width="300px" height="300px">
            <span class="card-title">Petcetera</span>
          </div>
          <div class="card-content">
            <p align="justify">Plato portátil para gato. Fácil de transportar, fácil de usar..</p>
          </div>
          <div class="card-action">
            <a href="#"><i class="material-icons">add_shopping_cart</i>  Añadir al carrito</a>
          </div>
        </div>
      </div>

       <div class="col s12 l6">
        <div class="card large">
          <div class="card-image">
            <img src= {% static 'media/img/poste_rascador.jpg' %} width="300px" height="300px">
            <span class="card-title">FourPaws</span>
          </div>
          <div class="card-content">
            <p align="justify">Poste rascador para gato con Cat Nip.</p>
          </div>
          <div class="card-action">
            <a href="#"><i class="material-icons">add_shopping_cart</i>  Añadir al carrito</a>
          </div>
        </div>
      </div>

       <div class="col s12 l6">
        <div class="card large">
          <div class="card-image">
            <img src= {% static 'media/img/senior.jpg' %} width="300px" height="300px">
            <span class="card-title">Bayer</span>
          </div>
          <div class="card-content">
            <p align="justify">Equilibrium Senior con 60 tabletas.</p>
          </div>
          <div class="card-action">
            <a href="#"><i class="material-icons">add_shopping_cart</i>  Añadir al carrito</a>
          </div>
        </div>
      </div>

       <div class="col s12 l6">
        <div class="card large">
          <div class="card-image">
            <img src= {% static 'media/img/palitos.jpg' %} width="300px" height="300px">
            <span class="card-title">PowerPet</span>
          </div>
          <div class="card-content">
            <p align="justify">Palitos de carnaza sabor res para perro. 12 Piezas.</p>
          </div>
          <div class="card-action">
            <a href="#"><i class="material-icons">add_shopping_cart</i>  Añadir al carrito</a>
          </div>
        </div>
      </div>

       <div class="col s12 l6">
        <div class="card large">
          <div class="card-image">
            <img src= {% stactic 'media/img/disfraz.jpg' %} width="300px" height="300px">
            <span class="card-title">PetPals Boutique</span>
          </div>
          <div class="card-content">
            <p align="justify">Disfraz de unicornio para perro. Talla chica.</p>
          </div>
          <div class="card-action">
            <a href="#"><i class="material-icons">add_shopping_cart</i>  Añadir al carrito</a>
          </div>
        </div>
      </div>

      <div class="col s12 l6">
        <div class="card large">
          <div class="card-image">
            <img src= {% static 'media/img/clicker.jpg' %} width="300px" height="300px">
            <span class="card-title">FancyPets</span>
          </div>
          <div class="card-content">
            <p align="justify">Clicker entrenador para perro. Adiestramiento seguro en un click.</p>
          </div>
          <div class="card-action">
            <a href="#"><i class="material-icons">add_shopping_cart</i>  Añadir al carrito</a>
          </div>
        </div>
      </div>

      <div class="col s12 l6">
        <div class="card large">
          <div class="card-image">
            <img src= {% static 'media/img/pañales_med.jpg' %} width="300px" height="300px">
            <span class="card-title">Drypet</span>
          </div>
          <div class="card-content">
            <p align="justify">Pañales para perro razas medianas. 12 piezas.</p>
          </div>
          <div class="card-action">
            <a href="#"><i class="material-icons">add_shopping_cart</i>  Añadir al carrito</a>
          </div>
        </div>
      </div>

      <div class="col s12 l6">
        <div class="card large">
          <div class="card-image">
            <img src= {% static 'media/img/proplan.jpg' %} width="300px" height="300px">
            <span class="card-title">ProPlan</span>
          </div>
          <div class="card-content">
            <p align="justify">Purina delicate para razas mini y chicas con OptiForte.</p>
          </div>
          <div class="card-action">
            <a href="#"><i class="material-icons">add_shopping_cart</i>  Añadir al carrito</a>
          </div>
        </div>
      </div>

    </div>

  </div>

</main>
{% endblock %}