{% extends 'base/base.html' %}
{% block content %}
    <main>

      <img class="responsive-img" src="/static/media/img/servicios.jpg" alt="servicios">


      <div class="container">

        <h1 class="center-align">Conoce nuestros servicios</h1>

        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s2">
                <img src="/static/media/img/icons8-tijeras-de-peluquero-filled-100.png" alt="" class="responsive-img"> <!-- notice the "circle" class -->
              </div>
              <div class="col s10">
                <h4 class="fuente2 rojo"><strong>Estética</strong></h4>
                <span class="black-text"><p class="fuente1" align="justify">
                  - Contamos con los mejores productos para que además de que tu mascota esté limpia, también se relaje por un rato. Situación que no pasa con la competencia <br>
                  - Nuestro equipo de estilistas Pety está altamente capacitado para tratar como se debe a esa querida mascota que ya necesita un baño. <br>
                  - Contamos con navajas y máquinas de cortar CutSafe para que por ningún motivo tu mascota sufra de alguna cortadura o irritación.
                </p></span>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s2">
                <img src="/static/media/img/icons8-casa-100.png" alt="" class="responsive-img"> <!-- notice the "circle" class -->
              </div>
              <div class="col s10">
                <h4 class="fuente2 rojo"><strong>Pensión</strong></h4>
                <span class="black-text"><p class="fuente1" align="justify">
                  - Si tienes que salir de viaje y no tienes con quién dejar a tu mascota o no confías en alguien para hacerlo... ven a Pety y encuentra la solución a esos pequeños inconvenientes con alguno de nuestros paquetes. <br>
                  - Todos nuestros paquetes incluyen alimento, estancia, limpieza y un pequeño paseo a tu mascota cada cierto periodo. <br>
                  - Es mejor venir a Pety que dejar a tu mascota sola en casa. Por favor, te pedimos que nunca lo hagas si es que tienes que salir de casa por un periodo considerable para tu mascota... la mayoría de los dueños no imaginan cuanto sufren por estar solos. <br>
                </p></span>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s2">
                <img src="/static/media/img/icons8-libro-de-salud-filled-100.png" alt="" class="responsive-img"> <!-- notice the "circle" class -->
              </div>
              <div class="col s10">
                <h4 class="fuente2 rojo"><strong>Vacunas y desparacitación</strong></h4>
                <span class="black-text"><p class="fuente1" align="justify">
                  - Contamos con las mejores vacunas para que tu mascota esté sana y salva mientras que tú estés sin preocupaciones por la salud de ella.. <br>
                  - Dependiendo el tipo de mascota que se desee vacunar será el periodo de espera para la recepción de la vacuna. Por lo general contamos con todas las vacunas pero si este no fuese el caso, es un lapso de 3 días de espera como máximo. <br>
                  - Una parte importante para el bienestar de cualquer mascota es su desparacitación periodicamente, no dejes pasar el tiempo para quitarle todos esos bichos y bacterias a tu mascota... ¡acude con nosotros y previene enfermedades!
                </p></span>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s2">
                <img src="/static/media/img/icons8-bisturí-filled-100.png" alt="" class="responsive-img"> <!-- notice the "circle" class -->
              </div>
              <div class="col s10">
                <h4 class="fuente2 rojo"><strong>Esterilización</strong></h4>
                <span class="black-text"><p class="fuente1" align="justify">
                  - Somos expertos en la esterilización de perros y gatos. <br>
                  - Trae a tu mascota y evita que cada vez abunden más perros y gatos en las calles. <br>
                  - Nuestros médicos veternarios son profesionales que saben que la vida de una mascota no es cualquier cosa... Te invitamos a que esterilices a tu mascota en Pety, donde la ética y el profesionalismo va por delante.
                </p></span>
              </div>
            </div>
          </div>
        </div>

      </div>

    </main>
{% endblock %}