{% extends 'base/base.html' %}
{% block content %}
    <main class="fondo">

      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">group</i>Nosotros</div>
          <div class="collapsible-body"><span class="sombra">La clínica veterinaria Pety cuenta con los servicios necesarios para el diagnóstico y el tratamiento de tu mascota. De igual forma, Pety cuenta con equipo zootécnico de alta tecnología para que tu mascota no tenga miedo de venir con nosotros... Ni tú de traerla. <br> El dolor en Pety es cosa del siglo pasado</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">gps_fixed</i>Misión</div>
          <div class="collapsible-body"><span class="sombra">Brindar satisfacció total a nuestros clientes mediante la prestación de servicios médico veterinarios éticos y de alta calidad, con diagnósticos y tratamientos eficientes y eficaces.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">beenhere</i>Visión</div>
          <div class="collapsible-body"><span class="sombra">Ser la clínica veterinaria con mayor prestigio a nivel nacional, brindando soluciones médicas inmediatas y acertadas a todos nuestros pacientes por medio de las diversas especialidades con las que cuenta Pety. <br> Contar con el mayor número de médicos veterinarios especialistas en toda Latinoamérica</span></div>
        </li>
      </ul>

    </main>
{% endblock %}